<h1>This is the home2    page</h1>
<p>This is a tag</p>

#rails generate scaffold Article title:string description:text
#the above command is used to generate a scaffold
#generate a scaffold is used to generate a model, controller, views, and a database migration for the model
#a database migration is a file which contains ruby code to create a database table
#rails db:migrate
#the above command is used to migrate the database
#used to migrate the database means to run the database migration file
#run the database migration file means to run the ruby code in the database migration file, and result in creating a database table
#rails routes
#the above command is used to see the routes
#rails routes --expanded
#the above command is used to see the routes in expanded form